* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: bg 4s linear infinite 1s;
  overflow: hidden;
}

.slider-container h1 {
  margin-bottom: 20px;
  font-size: 64px;
  text-shadow: 0 0 10px #423939;
}

.contact {
  padding: 15px 120px;
  --border: 1px solid #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 0 3px #fff;
}

.contact:hover {
  --border-color: #e74e3c;
  background-color: #f8e0e0;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  text-shadow: 0 0 3px #423939;
}

.desc {
  margin: 30px 0;
}

.slider video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@keyframes bg {
  0%,
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
  25% {
    background-color: rgba(255, 0, 0, 1);
  }
  50% {
    background-color: rgba(0, 255, 0, 1);
  }
  75% {
    background-color: rgba(0, 0, 255, 1);
  }
}
